# Environment
.env
.venv
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE / OS files
.vscode/
.idea/
.DS_Store
*.swp

# Docker
Dockerfile
.dockerignore
