@import "tailwindcss";

@theme {
  --color-neon-blue: #00f3ff;
  --color-neon-pink: #ff00ff;
  --color-neon-green: #0aff00;
  --color-cyber-black: #050505;
  --color-cyber-gray: #121212;
}

:root {
  --background: #050505;
  --foreground: #00f3ff;
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family will be handled in layout.tsx via next/font */
  overflow: hidden;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
  background: #222;
}
::-webkit-scrollbar-thumb:hover {
  background: #00f3ff;
}
